<article class="index-news-intro">
    <p class="date">{{ record.date|date("d-m-Y")}}</p>
    <h2><a title="{{ record.title }}" href="{{ record.link }}">{{ record.title }}</a></h2>
    <p class="teaser">{{ record.teaser }}</p>
    <p class="read-more"><a title="{{ record.title }}" href="{{ record.link }}">Lees verder »</a></p>
</article>