<article class="news-intro">
    <h2><a href="{{ record.link }}">{% if record.team_id is defined %}{{ record.team_id }}: {% endif %}{{ record.title }}</a></h2>
    <p class="meta">Geplaatst op {{ record.date|date("d-m-Y")}}</p>
    <p class="teaser">{{ record.teaser }}</p>
    <p class="read-more"><a href="{{ record.link }}">Lees verder »</a></p>
</article>