{% set title = ( record.team_id ? record.team_id ~ ": " ) ~ record.title %}
<article class="index-news-intro">
    <p class="date">{{ record.date|date("d-m-Y")}}{% if record.auteur %} door {{ record.auteur }}{% endif %}</p>
    <h2><a title="{{ title }}" href="{{ record.link }}">{{ title }}</a></h2>
    <p class="teaser">{{ record.teaser }}</p>
    <p class="read-more"><a title="{{ title }}" href="{{ record.link }}">Lees verder »</a></p>
</article>