<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    {% if app.config.get('general/debug') == true %}
        <meta content="NOINDEX,NOFOLLOW" name="ROBOTS">
    {% endif %}
    <title>{% block title_text %}{% if record.title is defined %}{{ record.title|striptags }}{% else %}{{ app.config.get('sitename') }}{% endif %}{% endblock %}</title>

    {# <meta name="viewport" content="width=device-width, initial-scale=1"/> #}
    <link href="/favicon.ico" type="images/ico" rel="SHORTCUT ICON">
    <link rel="stylesheet" href="/css/layout.css"/>
    {% block extra_css_files %}{% endblock %}
</head>

{% block body_tag %}<body>{% endblock %}
    {% block body_content %}
        <div id="container">
        <div id="header1">
            <a href="/" title="Home" class="headerlogo"><img src="/img/logo2.png" alt="Give & Go" width="444" height="123" title="Give & Go"></a>
            <a href="/pagina/lid-worden-van-basketbal-vereniging-give-and-go-uit-aalten" title="Lid worden? klik hier" class="lidworden">Lid worden?</a>
            <img src="/img/silhouette1.png" alt="Give & Go" width="179" height="270" class="silhouette1" title="Give & Go">
        </div>
        <div id="menucontainer">
            <div id="menu">
                <ul>
                    <li class="Menu{% if record is defined and record.link == "/pagina/home" %} Selected{% endif %}">
                        <a href="/" title="Home">Home</a>
                        <ul>
                            {% setcontent pages = 'paginas' where { menu: 'Ja' } orderby 'menu_order' %}
                            {% for entry in pages %}
                                <li class="Menu">
                                    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.menu_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="Menu{% if record is defined and record.link == "/pagina/wedstrijdschema" %} Selected{% endif %}">
                        <a href="/pagina/wedstrijdschema" title="Wedstrijdschema">Wedstrijdschema</a>
                    </li>
                    <li class="Menu{% if mededelingen is defined or ( record is defined and record.contenttype.slug == "mededelingen" ) %} Selected{% endif %}">
                        <a href="/mededelingen" title="Mededelingen">Mededelingen</a>
                        <ul>
                            {% setcontent mededelingen = "mededelingen/latest/5" %}
                            {% for entry in mededelingen %}
                                <li class="Menu">
                                    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="Menu{% if wedstrijdverslagen is defined or ( record is defined and record.contenttype.slug == "wedstrijdverslagen" ) %} Selected{% endif %}">
                        <a href="/wedstrijdverslagen" title="Wedstrijdverslagen">Wedstrijdverslagen</a>
                        <ul>
                            {% setcontent wedstrijdverslagen = "wedstrijdverslagen/latest/10" %}
                            {% for entry in wedstrijdverslagen %}
                                <li class="Menu">
                                    <a href="{{ entry.link }}" title="{{ entry.team_id }}: {{ entry.title }}">{{ entry.team_id }}: {{ entry.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="Menu{% if teams is defined or ( record is defined and record.contenttype.slug == "teams" ) %} Selected{% endif %}">
                        <a href="/teams" title="Teams">Teams</a>
                        <ul>
                            {% setcontent teams = "teams" orderby 'menu_order' %}
                            {% for entry in teams %}
                                <li class="Menu">
                                    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="Menu">
                        <a href="/pagina/fotos" title="Foto's">Foto's</a>
                    </li>
                </ul>
            </div>
        </div>
        {% setcontent headers = 'headers/random/1' %}
        {% for header in headers %}
            <div id="header2" style="background-image:url('{{ header.image|thumbnail(988, 156) }}');"></div>
        {% endfor %}
        <div id="contentcontainer">
            <div id="sidebar">
                <div id="submenu">
                    <h2 class="sidebar">
                        {% block submenu_title %}<a href="/" title="Home">Home</a>{% endblock %}
                    </h2>
                    <ul>
                        {% block submenu_list %}
                        {% setcontent entries = 'paginas' where { menu: 'Ja' } orderby 'menu_order' %}
                        {% for entry in entries %}
                            <li class="Menu">
                                <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.menu_name }}</a>
                            </li>
                        {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
                {# <div id="zoeken"><h2 class="sidebar"><a href="/zoeken.html" title="Zoeken">Zoeken</a></h2><form action="/" name="SearchForm" method="POST" onsubmit="return checkForm( this );"><input name="_actionUrl" value="/zoek.html" type="hidden"><input name="_formname" value="SearchForm" type="hidden"><input name="_referrer" value="/" type="hidden"><input name="_actionname" value="SearchAction" type="hidden"><input name="limit" value="10" type="hidden"><input name="parts[informationpages]" value="on" type="hidden"><input name="parts[11]" value="on" type="hidden"><input name="search" value="Zoeken..." type="text" class="Required" onclick="if ( this.value == &quot;Zoeken...&quot; ) { this.value = &quot;&quot; };" onblur="if ( this.value == &quot;&quot; ) { this.value = &quot;Zoeken...&quot; };" id="SearchInput" tabindex="1"><input name="_formcheckType[search]" value="String" type="hidden"><input name="submit" value="Z" type="submit" class="Submit submit" id="SearchSubmit" tabindex="2"></form></div> #}
                {# <div id="laatstenieuws"></div> #}
                {# <div id="rss">
                    <a href="http://www.giveandgo.nl/feed/rss.xml" title="RSS 2.0 feed">RSS<img src="/img/rss.png" alt="XML nieuws feed" width="16" height="16" title="XML nieuws feed"></a>
                </div> #}
                <div class="fb-like-box" data-href="http://www.facebook.com/GiveAndGoAalten" data-width="244" data-height="320" data-show-faces="true" data-stream="false" data-header="true"></div>
            </div>
            <div id="content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            <a href="#" title="Ga omhoog" class="omhoog"></a>
            <img src="/img/silhouette2.png" alt="Give & Go" width="95" height="138" class="silhouette2" title="Give & Go">
            <p class="footer1">
                &copy; 2006-{{ "now"|date("Y") }} Give &amp; Go - <a href="/sitemap" title="Sitemap">Sitemap</a>
            </p>
            <p class="footer2">
                Correspondentieadres: Markerinkdijk 43 - 7122 RT Aalten -
                <a href="mailto:info@giveandgo.nl" title="info@giveandgo.nl">info@giveandgo.nl</a>
            </p>
            <div id="plug">
                Ontwikkeld door <a href="http://www.richardhinkamp.nl/" title="Richard Hinkamp" target="_blank">Richard Hinkamp</a>.
            </div>
            <div id="footermenu">
                <ul>
                    <li class="Menu Selected">
                        <a href="/" title="Home">Home</a>
                    </li>
                    <li class="Menu">
                        <a href="/pagina/wedstrijdschema" title="Wedstrijdschema">Wedstrijdschema</a>
                    </li>
                    <li class="Menu">
                        <a href="/mededelingen" title="Mededelingen">Mededelingen</a>
                    </li>
                    <li class="Menu">
                        <a href="/wedstrijdverslagen" title="Wedstrijdverslagen">Wedstrijdverslagen</a>
                    </li>
                    <li class="Menu">
                        <a href="/teams" title="Teams">Teams</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    {% endblock %}

    <div id="fb-root"></div><script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/nl_NL/all.js#xfbml=1&appId=174357555989898"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block js_files %}{% endblock %}
    {% if app.config.get('general/debug') != true and app.request.host != "test.giveandgo.nl" %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39247366-1', 'giveandgo.nl');
            ga('send', 'pageview');

        </script>
    {% endif %}
</body>

</html>
