<!DOCTYPE html>
<html>
<head>
    {% if app.config.get('general/debug') == true %}
    <meta content="NOINDEX,NOFOLLOW" name="ROBOTS">
    {% endif %}
    <title>{% block title_text %}{% if record.title is defined %}{{ record.title|striptags }}{% else %}{{ app.config.get('sitename') }}{% endif %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/css/layout.css" rel="stylesheet">
    {% block extra_css_files %}{% endblock %}
</head>
<body>
<header class="main__header">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/" title="Home" class="nav-logo"><img src="/img/logo_nav.png" title="Give &amp; Go"></a>
                    </li>

                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" title="Algemeen">Algemeen</a>
                        <ul class="dropdown-menu">
                            {% setcontent pages = 'paginas' where { menu: 'Ja' } orderby 'menu_order' %}
                            {% for entry in pages %}
                                <li>
                                    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.menu_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="{% if record is defined and record.link == "/pagina/wedstrijdschema" %}active{% endif %}">
                        <a href="/pagina/wedstrijdschema" title="Wedstrijdschema">Wedstrijdschema</a>
                    </li>

                    <li class="dropdown {% if mededelingen is defined or ( record is defined and record.contenttype.slug == "mededelingen" ) %}active{% endif %}">
                        <a href="/mededelingen" class="dropdown-toggle" data-toggle="dropdown" title="Mededelingen">Mededelingen</a>
                        <ul class="dropdown-menu">
                            {% setcontent mededelingen = "mededelingen/latest/3" %}
                            {% for entry in mededelingen %}
                                <li>
                                    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="dropdown {% if wedstrijdverslagen is defined or ( record is defined and record.contenttype.slug == "wedstrijdverslagen" ) %}active{% endif %}">
                        <a href="/wedstrijdverslagen" class="dropdown-toggle" data-toggle="dropdown" title="Wedstrijdverslagen">Wedstrijdverslagen</a>
                        <ul class="dropdown-menu">
                            {% setcontent wedstrijdverslagen = "wedstrijdverslagen/latest/5" %}
                            {% for entry in wedstrijdverslagen %}
                                <li>
                                    <a href="{{ entry.link }}" title="{{ entry.team_id }}: {{ entry.title }}">{{ entry.team_id }}: {{ entry.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="dropdown {% if teams is defined or ( record is defined and record.contenttype.slug == "teams" ) %}active{% endif %}">
                        <a href="/teams" class="dropdown-toggle" data-toggle="dropdown" title="Teams">Teams</a>
                        <ul class="dropdown-menu">
                            {% setcontent teams = "teams" orderby 'menu_order' %}
                            {% for entry in teams %}
                                <li>
                                    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="dropdown {% if fotoalbums is defined or ( record is defined and record.contenttype.slug == "foto-album" ) %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Foto's">Foto's</a>
                        <ul class="dropdown-menu">
                            {% setcontent albums = "foto-album/latest/10" %}
                            {% for entry in albums %}
                                <li>
                                    <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="/foto-albums" class="italic" title="Alle foto's">Alle foto's</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                {#<h1 class="navbar-brand"><a href="index.html">basketball</a></h1>#}
            </div>
        </nav>
    </div>
</header>
<section class="main__middle__container">
    <div class="container">
        {% block page_content %}
        <div class="row">
            {% block title_body %}
            {#<p class="text-center lined"><span>Nam convallis ipsum</span></p>#}
            <h1 class="text-center sz60">{% block page_title %}{{ record.title }}{% endblock %}</h1>
            {#<p class="text-center lined"><span>Pellentesque ut lacus velit consequat</span></p>#}
            {% endblock %}
        </div>
        <div class="row no_padding nothing no-margin">
            {% block page_body %}{{ record.body }}{% endblock %}
        </div>
        {% endblock %}
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <h3>Contact</h3>
                <p>
                    Markerinkdijk 43<br>
                    7122 RT Aalten<br>
                    <a href="mailto:info@giveandgo.nl" title="info@giveandgo.nl">info@giveandgo.nl</a><br>
                </p>
                {#<div class="social__icons"> #}
                    {#&#123;&#35;<a href="#" class="socialicon socialicon-twitter"></a> &#35;&#125;#}
                    {#<a href="https://www.facebook.com/GiveAndGoAalten" class="socialicon socialicon-facebook" target="_blank"></a> #}
                    {#&#123;&#35;<a href="#" class="socialicon socialicon-google"></a> &#35;&#125;#}
                {#</div>#}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h3>Belangrijk</h3>
                <p>
                    <a href="/pagina/trainingen-en-trainers" title="Trainingen en trainers">Trainingen en trainers</a><br>
                    <a href="/pagina/lid-worden-van-basketbal-vereniging-give-and-go-uit-aalten" title="Lid worden">Lid worden</a><br>
                    <a href="/pagina/bestuur" title="Bestuur">Bestuur</a>
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h3>Website</h3>
                <p>
                    &copy; 2006-{{ "now"|date("Y") }} Give &amp; Go<br>
                    Ontwikkeld door <br><a href="http://www.richardhinkamp.nl/" title="Richard Hinkamp" target="_blank">Richard Hinkamp</a><br>
                    <a href="/sitemap" title="Sitemap">Sitemap</a>
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
{% block js_files %}{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>