{% extends "layout/layout.twig" %}

{% block page_body %}
    <div class="col-md-9 newsitem">
        <p class="meta">
            Geplaatst op {{ record.date|date("d-m-Y")}}
            {% if record.auteur %}
                door {{ record.auteur }}
            {% endif %}
        </p>
        <article>
            {{ record.body }}
        </article>
        {% block news_below %}{% endblock %}
    </div>
    <div class="col-md-3">
        {% set monthsBack = 'now'|date_modify('-3 month')|date('Y-m-d 00:00:00') %}
        {% setcontent entries = record.contenttype.slug ~ "/latest/5" where { id: "!" ~ record.id, datepublish: '> ' ~ monthsBack } %}
        {% for entry in entries %}
            <div class="icon-item">
                <h4><a href="{{ entry.link }}" title="{{ ( entry.team_id ? entry.team_id ~ ": " ) ~ entry.title }}">{{ ( entry.team_id ? entry.team_id ~ ": " ) ~ entry.title }}</a></h4>
                {{ entry.date|date("d-m-Y")}}
                {% if entry.auteur %}
                    - {{ entry.auteur }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}