{% extends "page.twig" %}

{% block page_body %}
    <div class="row home">
        <div class="col-md-6">
            <article>
                {{ record.body }}
            </article>
        </div>
        <div class="col-md-3">
            <h3><a href="/mededelingen">Mededelingen</a></h3>
            {% setcontent entries = "/mededelingen/latest/3" %}
            {% for entry in entries %}
                <div class="icon-item">
                    <h4><a href="{{ entry.link }}" title="entry.title }}">{{ entry.title }}</a></h4>
                    {{ entry.date|date("d-m-Y")}}
                    {% if entry.auteur %}
                        - {{ entry.auteur }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <h3><a href="/wedstrijdverslagen">Wedstrijdverslagen</a></h3>
            {% setcontent entries = "/wedstrijdverslagen/latest/3" %}
            {% for entry in entries %}
                <div class="icon-item">
                    <h4><a href="{{ entry.link }}" title="{{ ( entry.team_id ? entry.team_id ~ ": " ) ~ entry.title }}">{{ ( entry.team_id ? entry.team_id ~ ": " ) ~ entry.title }}</a></h4>
                    {{ entry.date|date("d-m-Y")}}
                    {% if entry.auteur %}
                        - {{ entry.auteur }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{#{% block page_content %}#}
    {#{{ parent() }}#}

    {#<div id="newsdiv">#}
        {#<div id="newsdiv1" class="index-news">#}
            {#<h2>Laatste mededelingen</h2>#}
            {#{% setcontent entries = "mededelingen/latest/1" %}#}
            {#{% for entry in entries %}#}
                {#{% include 'blocks/index-news-intro.twig' with {'record': entry} only %}#}
            {#{% endfor %}#}
            {#{% setcontent entries = "mededelingen/latest/4" %}#}
            {#<ul class="index-more-news">#}
                {#{% for entry in entries %}#}
                    {#{% if loop.index > 1 %}#}
                        {#{% include 'blocks/index-news-small.twig' with {'record': entry} only %}#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {#</ul>#}
            {#<p class="HomeNewsAll"><a href="/mededelingen" title="Alle mededelingen">Alle mededelingen &raquo;</a></p>#}
        {#</div>#}
        {#<div id="newsdiv2" class="index-news">#}
            {#<h2>Laatste wedstrijdverslagen</h2>#}
            {#{% setcontent entries = "wedstrijdverslagen/latest/1" %}#}
            {#{% for entry in entries %}#}
                {#{% include 'blocks/index-news-intro.twig' with {'record': entry} only %}#}
            {#{% endfor %}#}
            {#{% setcontent entries = "wedstrijdverslagen/latest/4" %}#}
            {#<ul class="index-more-news">#}
            {#{% for entry in entries %}#}
                {#{% if loop.index > 1 %}#}
                    {#{% include 'blocks/index-news-small.twig' with {'record': entry} only %}#}
                {#{% endif %}#}
            {#{% endfor %}#}
            {#</ul>#}
            {#<p class="HomeNewsAll"><a href="/wedstrijdverslagen" title="Alle wedstrijdverslagen">Alle wedstrijdverslagen &raquo;</a></p>#}
        {#</div>#}
    {#</div>#}


{#{% endblock %}#}

