{% extends "page.twig" %}

{% block page_body %}
    <div class="row home">
        <div class="col-md-6">
            <article>
                {{ record.body }}
            </article>
        </div>
        <div class="col-md-3">
            <h3>Laatste berichten</h3>
            {% setcontent mededelingen = "/mededelingen/latest/3" %}
            {% setcontent verslagen = "/wedstrijdverslagen/latest/3" %}
            {% set messages = mededelingen|merge(verslagen)|articleDateSort|slice(0,4) %}
            {% for entry in messages %}
                <div class="icon-item">
                    {% if entry.team_id %}
                    <h4><a href="{{ entry.link }}" title="{{ entry.team_id ~ ": " ~ entry.title }}">{{ entry.team_id ~ ": " ~ entry.title }}</a></h4>
                    {% else %}
                    <h4><a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.title }}</a></h4>
                    {% endif %}
                    {{ entry.date|date("d-m-Y")}}
                    {% if entry.auteur %}
                        - {{ entry.auteur }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% setcontent entries = "scores/" where { season: app.config.get('general/season') } orderby '-datetime' %}
            {% set results = entries|filterResultsHome %}
            {% if results is not empty %}
                <div class="latest-results">
                    <h3>Laatste uitslagen</h3>
                    <ol class="latest-results">
                        {% for entry in results %}
                            <li>
                                {{ entry|getTeamFromGameResult }}
                                {{ entry|getOpponentFromGameResult }}
                                <span class="result {{ entry|getWinLoseGameResult }}">{{ entry.score_home }} - {{ entry.score_away }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
            {% setcontent entries = "scores/" where { season: app.config.get('general/season'), score_home: 0, score_away: 0 } orderby 'datetime' %}
            {% set nextGames = entries|filterNextGamesHome %}
            {% if nextGames is not empty %}
                <div class="latest-results">
                    <h3 class="next-games">Volgende wedstrijden</h3>
                    <ol class="latest-results">
                        {% for entry in nextGames %}
                            <li>
                                <span class="datetime">{{ entry.datetime|date("d-m H:i") }}</span>
                                {{ entry|getTeamFromGameResult }}
                                {{ entry|getOpponentFromGameResult }}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{#{% block page_content %}#}
    {#{{ parent() }}#}

    {#<div id="newsdiv">#}
        {#<div id="newsdiv1" class="index-news">#}
            {#<h2>Laatste mededelingen</h2>#}
            {#{% setcontent entries = "mededelingen/latest/1" %}#}
            {#{% for entry in entries %}#}
                {#{% include 'blocks/index-news-intro.twig' with {'record': entry} only %}#}
            {#{% endfor %}#}
            {#{% setcontent entries = "mededelingen/latest/4" %}#}
            {#<ul class="index-more-news">#}
                {#{% for entry in entries %}#}
                    {#{% if loop.index > 1 %}#}
                        {#{% include 'blocks/index-news-small.twig' with {'record': entry} only %}#}
                    {#{% endif %}#}
                {#{% endfor %}#}
            {#</ul>#}
            {#<p class="HomeNewsAll"><a href="/mededelingen" title="Alle mededelingen">Alle mededelingen &raquo;</a></p>#}
        {#</div>#}
        {#<div id="newsdiv2" class="index-news">#}
            {#<h2>Laatste wedstrijdverslagen</h2>#}
            {#{% setcontent entries = "wedstrijdverslagen/latest/1" %}#}
            {#{% for entry in entries %}#}
                {#{% include 'blocks/index-news-intro.twig' with {'record': entry} only %}#}
            {#{% endfor %}#}
            {#{% setcontent entries = "wedstrijdverslagen/latest/4" %}#}
            {#<ul class="index-more-news">#}
            {#{% for entry in entries %}#}
                {#{% if loop.index > 1 %}#}
                    {#{% include 'blocks/index-news-small.twig' with {'record': entry} only %}#}
                {#{% endif %}#}
            {#{% endfor %}#}
            {#</ul>#}
            {#<p class="HomeNewsAll"><a href="/wedstrijdverslagen" title="Alle wedstrijdverslagen">Alle wedstrijdverslagen &raquo;</a></p>#}
        {#</div>#}
    {#</div>#}


{#{% endblock %}#}

