{% extends "layout/news-detail.twig" %}

{% import "layout/news-detail.twig" as news %}

{% block page_content %}
    {{ parent() }}
    {% setcontent entries = "mededelingen/latest/5" where { id: "!" ~ record.id } %}
    {{ news.latest_list( "Laatste mededelingen", entries ) }}
{% endblock %}

{% block submenu_title %}<a href="/mededelingen" title="Mededelingen">Mededelingen</a>{% endblock %}

{% block submenu_list %}
    {% setcontent entries = "mededelingen/latest/10" %}
    {% for entry in entries %}
        <li class="Menu">
            <a href="{{ entry.link }}" title="{{ entry.title }}">{{ entry.date|date("d-m")}} {{ entry.title }}</a>
        </li>
    {% endfor %}
{% endblock %}
