{% extends "picasa-base.twig" %}

{% block title_text %}Foto's{% endblock %}

{% block page_content %}
    <h1>Foto's</h1>
    <p>Foto's van wedstrijden en andere evenementen van Give & Go.</p>

    <div class="photo-albums">
        {% setcontent records = "foto-albums/latest/100" %}
        {% for record in records %}
            <a class="photo-album" href="{{ record.link }}">
                <img src="{{ record.thumb_url }}|replace({'144c': '160c'}" alt="{{ record.title }}">
                <h2>{{ record.title }}</h2>
                <p>{{ record.description }}</p>
            </a>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
{% endblock %}