{% extends "layout/news-detail.twig" %}

{% block title_text %}Wedstrijdverslag {{ ( record.team_id ? record.team_id ~ ": " ) ~ record.title }}{% endblock %}

{% block page_title %}{{ ( record.team_id ? record.team_id ~ ": " ) ~ record.title }}{% endblock %}

{% block news_below %}
{% setcontent teams = "teams" where { team_id: record.team_id } %}
{% for team in teams %}
    <p class="team-info">
        Team: <a href="{{ team.link }}" title="{{ team.title }}">{{ team.title }}</a>
        {% if team.nbb_competitie_id > 0 and team.nbb_team_id > 0 %}
            , <a href="{{ team.link }}#stand" title="Stand van {{ record.title }}">Stand</a>
            , <a href="{{ team.link }}#uitslagen" title="Uitslagen van {{ record.title }}">Uitslagen</a>
        {% endif %}
    </p>
{% endfor %}
{% endblock %}


